{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section col-md-11 mx-auto">
        <div class="media mb-4 mt-3">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading text-lg-center">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary text-lg-center">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Profile Info</legend>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ u_form.username | as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ u_form.first_name | as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ u_form.last_name | as_crispy_field }}
                </div>
            </div>
            {{ u_form.email | as_crispy_field }}
            {{ p_form.image | as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ p_form.cnp | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ p_form.id_series | as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ p_form.id_number | as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ p_form.issued_by | as_crispy_field }}
                </div>
            </div>
            {{ p_form.address_1 | as_crispy_field }}
            {{ p_form.address_2 | as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ p_form.city | as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ p_form.county | as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ p_form.postal_code | as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}