{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row row-cols-1 row-cols-md-2">
        {% for project in projects %}
            <div class="col-md-12">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static project.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{% url 'project_detail' project.pk %}"
                       class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
