{% extends "base.html" %}
{% load static %}
{% block title %}{{ voting.name }}{% endblock %}

{% block content %}

    <style>
        #my_camera {
            width: 320px;
            height: 240px;
            border: 1px solid black;
        }

        button {
            width: 200px;
            height: 50px;
            font-size: 150px;
        }

        button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            font-family: inherit;
            font-weight: bold;
        }

        button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        button:hover span {
            padding-right: 25px;
        }

        button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>

    <div hidden id="my_camera"></div>

    <form id="myform" method="post" action="/camera/save-image/">
        <input id="mydata" type="hidden" name="mydata" value=""/>
        <input id="voting_session" type="hidden" name="voting_session" value=""/>
    </form>

    <div style=" text-align: center; margin-bottom: 40px; margin-top: 40px;">
        <h1> {{ voting.name }} {{ voting.country }} {{ voting.year }}</h1>
    </div>

    <button class="btn btn-outline-info mx-auto" style="position: sticky; left: 100%; margin-bottom: 50px;"
            onclick="take_snapshot()">
        <span> VALIDATE VOTE </span>
    </button>

    <div class="card-deck">
        {% for candidate in voting.candidates.all %}
            <div class="col-sm-6 col-md-6 item" style="margin-bottom: 50px;">
                <div class="card text-center">
                    <img height="300px" src="{{ candidate.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ candidate.name }}</h5>
                        <p class="card-text">{{ candidate.description }}</p>
                        <a href="{% url 'vote' candidate.pk voting.pk %}">
                            <button class="btn btn-primary"
                                    style=" font-family: inherit; border-color:#38988b; color: #f6f6f6; background-color: #38988b;"
                            >
                                <span> VOTE </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{% static 'js/webcam.min.js' %}"></script>

    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');

        // code to handle taking the snapshot and displaying it locally
        function take_snapshot() {

            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');

                document.getElementById('mydata').value = raw_image_data;
                document.getElementById('voting_session').value = {{ voting.pk }};
                document.getElementById('myform').submit();
            });
        }
    </script>
{% endblock %}