{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        button {
            width: 200px;
            height: 50px;
            font-size: 150px;
        }

        button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            font-family: inherit;
            font-weight: bold;
        }

        button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        button:hover span {
            padding-right: 25px;
        }

        button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
    <div style=" text-align: center; margin-bottom: 40px; margin-top: 40px;">
        <h1> {{ voting.name }} {{ voting.country }} {{ voting.year }}</h1></div>

    <div class="card-deck">
        {% for candidate in voting.candidates.all %}
            <div class="card text-center">
                <img height="300px" src="{{ candidate.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ candidate.name }}</h5>
                    <p class="card-text">{{ candidate.description }}</p>
                    <a href="{% url 'vote' candidate.pk voting.pk %}">
                        <button class="btn btn-primary"
                                style=" font-family: inherit; border-color:#38988b; color: #f6f6f6; background-color: #38988b;">
                            <span> VOTE </span>
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}