{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        button {
            width: 200px;
            height: 50px;
            font-size: 150px;
        }

        button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        button:hover span {
            padding-right: 25px;
        }

        button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
    <div class="mx-auto" ><h1> Romanian presidential election 2019</h1> </div>

    <div class="card-deck">
        {% for candidate in voting %}
            <div class="card text-center">
                <img height="300px" src="{% static candidate.image %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ candidate.name }}</h5>
                    <p class="card-text">{{ candidate.description }}</p>
                    <button {#href="{% url 'project_detail' candidate.pk %}"#}
                            class="btn btn-primary"
                            style=" border-color:#38988b; color: #f6f6f6; background-color: #38988b;">
                        <span> Vote </span>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}